node_modules/
build/
dist/
dist-electron/
dist-electron-builder/
dist-electron-builder-mac/
dist-electron-builder-win/
dist-electron-builder-linux/
dist-electron-builder-mac-arm64/
dist-electron-builder-win-x64/
dist-electron-builder-win-arm64/
dist-electron-builder-linux-x64/
dist-electron-builder-linux-arm64/
dist-electron-builder-linux-armhf/

win-unpacked/
__pycache__/
.exe

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
